html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: var(--font-poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    color: inherit;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}