@font-face {
  font-display: swap;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/stolzl_regular.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/stolzl_medium.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/stolzl_bold.otf") format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Miniver";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/miniver-v25-latin-regular.woff2") format("woff2");
}
/*General*/
body {
  font-family: "Stolzl";
  font-weight: 400;
  font-size: 16px;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 1360px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
  color: #333333;
  line-height: 140%;
  font-weight: 700;
}

.subtitle {
  font-family: "Miniver";
  margin-bottom: 25px;
  color: #05581C;
  font-size: 24px;
  line-height: 110%;
  position: relative;
  display: inline-block;
}
.subtitle::after {
  content: "";
  display: block;
  border: 1px solid #05581C;
  width: 34px;
  position: absolute;
  bottom: 6px;
  right: -46px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #626262;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  font-family: "Stolzl";
  font-weight: 700;
  border-radius: 80px;
  transition: color 0.3s, background-color 0.3s;
  text-transform: uppercase;
}
.btn-primary {
  color: #FFFFFF;
  background-color: #05581C;
}
.btn-primary:hover {
  background-color: #366126;
}
.btn-secondary {
  color: #05581C;
  border: 2px solid #05581C;
}
.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #05581C;
}

/*Header*/
.header {
  padding: 30px 0;
  background-color: #FAFAFA;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}
.header__list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 55px;
}
.header__item {
  font-weight: 300;
  color: #333333;
  position: relative;
}
.header .dropdown::after {
  content: "";
  background-image: url(/images/arrow.svg);
  display: block;
  width: 11px;
  height: 7px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  cursor: pointer;
}
.header__btn {
  padding: 18px 45px;
}

/*Hero section*/
.hero-section {
  background-color: #FAFAFA;
  position: relative;
  overflow: hidden;
}
.hero__inner {
  padding: 298px 0 177px;
  position: relative;
  max-width: 1550px;
  margin: 0 auto;
}
.hero__inner::before, .hero__inner::after {
  content: "";
  position: absolute;
}
.hero__inner::before {
  height: 1100px;
  width: 1100px;
  background-color: #F8FFF5;
  border-radius: 50%;
  top: 47px;
  left: -270px;
  z-index: 1;
}
.hero__inner::after {
  background-image: url(/images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 1085px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-top-left-radius: 300px;
}
.hero__content {
  position: relative;
  z-index: 2;
}
.hero__title {
  font-size: 58px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 625px;
}
.hero__title .accent {
  color: #05581C;
  font-weight: 700;
}
.hero__text {
  color: #366126;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 43px;
  max-width: 500px;
}
.hero__btn {
  padding: 24px 75px;
}
.hero__btn + .hero__btn {
  margin-left: 30px;
}

/*Advantages section*/
.advantages-section {
  background-color: #FAFAFA;
  padding: 40px 0 150px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.advantages__item {
  flex-basis: calc((100% - 50px) / 3);
}
.advantages__card {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 32px 27px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.advantages__img {
  max-width: 70px;
  fill: #05581C;
}
.advantages__title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 700;
}
.advantages__text {
  color: #626262;
  line-height: 150%;
}

/*About section*/
.about-section {
  background-color: #FAFAFA;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
.about__inner {
  position: relative;
}
.about__inner::before, .about__inner::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.about__inner::after {
  background-image: url(/images/plate1.png);
  width: 720px;
  height: 650px;
  display: block;
  top: 0;
  right: -95px;
  z-index: 0;
}
.about__inner::before {
  display: block;
  background-image: url(/images/decor-plates.png);
  top: 50px;
  right: 480px;
  width: 240px;
  height: 530px;
  z-index: 1;
}
.about__content {
  position: relative;
  z-index: 2;
}
.about__title {
  margin-bottom: 67px;
  position: relative;
}
.about__title::before {
  content: "";
  background-image: url(/images/dill.png);
  position: absolute;
  display: block;
  width: 192px;
  height: 225px;
  top: -105px;
  left: -85px;
}
.about__text {
  max-width: 619px;
}
.about__list {
  max-width: 637px;
}
.about__btn {
  padding: 20px 50px;
  margin-bottom: 52px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.about__item {
  font-size: 18px;
  line-height: 155%;
  font-weight: 500;
  flex-basis: calc((100% - 60px) / 2);
  color: #626262;
}
.about__item::before {
  content: "";
  background-image: url(/images/check.svg);
  height: 13px;
  width: 13px;
  display: inline-block;
  background-color: #05581C;
  padding: 16px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

/*Benefits section*/
.benefits__inner {
  position: relative;
}
.benefits__inner::before, .benefits__inner::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.benefits__inner::before {
  background-image: url(/images/plate3.jpg);
  width: 424px;
  height: 523px;
  top: 40px;
  left: -5px;
  z-index: 2;
}
.benefits__inner::after {
  background-image: url(/images/plate2.jpg);
  bottom: -13px;
  left: 312px;
  display: block;
  width: 424px;
  height: 515px;
  z-index: 3;
}
.benefits__inner .decor-img {
  position: absolute;
  top: -60px;
  left: 300px;
}
.benefits-section {
  background-color: #FAFAFA;
  position: relative;
}
.benefits__content {
  max-width: 530px;
  margin-left: auto;
}
.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.benefits__item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  max-width: 380px;
  background-color: #FFFFFF;
}
.benefits__item::before {
  content: "";
  width: 4px;
  height: 77px;
  background-color: #05581C;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.benefits__img {
  stroke: #626262;
  fill: transparent;
  max-width: 56px;
  max-height: 56px;
}

/*Schledule section*/
.schledule-section {
  padding: 164px 0 168px;
  background-image: url(/images/schledule-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.schledule__title {
  color: #FFFFFF;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 50px;
}
.schledule__title .accent {
  color: #1AC94B;
}
.schledule__btn {
  background-color: #1AC94B;
  padding: 24px 78px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
.schledule__content {
  max-width: 550px;
  margin-left: auto;
}

/*Nutrition section*/
.nutrition-section {
  padding: 160px 0 0 0;
  position: relative;
  overflow: hidden;
  background-color: #FAFAFA;
}
.nutrition-section::after {
  content: "";
  display: block;
  width: 360px;
  height: 480px;
  background-image: url(/images/decor-salad.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: -100px;
}
.nutrition-section .btn + .btn {
  margin-left: 28px;
}
.nutrition__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #05581C;
  border-top-left-radius: 180px;
  padding: 90px 0 100px;
}
.nutrition__content {
  background-color: #F8FFF5;
  border-radius: 50px;
  padding: 60px;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
}
.nutrition__subtitle {
  color: #A9DDB7;
  font-size: 34px;
  margin-bottom: 30px;
}
.nutrition__subtitle::after {
  display: none;
}
.nutrition__title {
  font-size: 48px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 60px;
  line-height: 115%;
}
.nutrition__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nutrition__list-title {
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 22px;
}
.nutrition__img {
  max-height: 414px;
}
.nutrition__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-size: 20px;
  font-weight: 500;
  line-height: 280%;
  color: #05581C;
  position: relative;
}
.nutrition__item-img {
  max-width: 70px;
  max-height: 70px;
  fill: #05581C;
}
.nutrition__img {
  border-radius: 40px;
}
.nutrition__meals {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nutrition__meals-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #626262;
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 40px;
}
.nutrition__meals .btn-secondary {
  padding: 24px 53px;
}
.nutrition__meals .btn-primary {
  padding: 24px 70px;
}

/*Serve section*/
.serve-section {
  padding: 135px 0 160px;
  overflow: hidden;
}
.serve__inner {
  background-color: #F8FFF5;
  border-radius: 28px;
  padding: 84px 130px;
  position: relative;
}
.serve__inner::after {
  content: "";
  display: block;
  width: 950px;
  height: 500px;
  background-image: url(/images/delivery-man.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: -260px;
  transform: translateY(-50%);
}
.serve__content {
  max-width: 525px;
}
.serve__items {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}
.serve__item {
  display: flex;
  flex-basis: calc((100% - 25px) / 2);
  align-items: center;
  gap: 12px;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}
.serve__img {
  max-width: 36px;
  max-height: 36px;
  fill: transparent;
  stroke: #05581C;
}
.serve__btn {
  padding: 20px 50px;
}

/*Footer*/
.footer {
  padding: 56px 0 80px;
  background-color: #F8FFF5;
  color: #333333;
  position: relative;
}
.footer::after {
  content: "";
  display: block;
  background-image: url(/images/decor-broccoli.png);
  width: 250px;
  height: 260px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  right: 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer__text {
  font-size: 14px;
  color: #4D6C40;
  max-width: 310px;
}
.footer__link {
  text-decoration: underline;
  font-weight: 500;
}
.footer__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__contacts-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}
.footer__contacts-item.limited {
  max-width: 225px;
}
.footer__icon {
  max-height: 24px;
  max-width: 24px;
  fill: transparent;
  stroke: #05581C;
}

/*Copyright section*/
.copyright-section {
  color: #FFFFFF;
  line-height: 150%;
  background-color: #05581C;
  padding: 22px 0 22px 200px;
}
.copyright__link {
  text-decoration: underline;
}

/*Modal*/
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 9;
}
.backdrop.is-hidden {
  visibility: none;
  pointer-events: none;
  opacity: 0;
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 995px;
  max-height: 1090px;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 50px 50px 40px 50px;
  position: relative;
}
.modal__title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 48px;
}
.modal__form {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 34px;
}
.modal__form-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: calc((100% - 34px) / 2);
}
.modal__form-data.full-width {
  flex-basis: 100%;
}
.modal__label {
  color: #626262;
  font-size: 15px;
}
.modal__label.required::after {
  content: "*";
  color: red;
  padding-left: 8px;
}
.modal__input {
  outline: 1px solid #A9DDB7;
  border-radius: 10px;
  height: 80px;
  max-height: 80px;
  background-color: transparent;
  padding: 30px 25px;
  color: #626262;
  font-size: 16px;
  font-family: "Stolzl";
}
.modal__option {
  padding: 25px;
  color: #626262;
}
.modal__option:hover {
  color: #05581C;
  background-color: #A9DDB7;
}
.modal__btn {
  padding: 18px 67px;
}
.modal__icon {
  fill: #626262;
  max-width: 23px;
  max-height: 23px;
}
.modal-close-btn {
  position: absolute;
  top: 44px;
  right: 53px;
}
.modal select {
  outline: none;
  border: 1px solid #A9DDB7;
}/*# sourceMappingURL=styles.css.map */