@font-face {
    font-display: swap;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/stolzl_regular.otf) format('opentype');
}

@font-face {
    font-display: swap;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/stolzl_medium.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/stolzl_bold.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: 'Miniver';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/miniver-v25-latin-regular.woff2') format('woff2');
}