$color-bg-main: #FAFAFA;
$color-bg-secondary: #F8FFF5;
$color-primary: #626262;
$color-secondary: #333333;
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #05581C;
$color-dark-green: #366126;
$color-light-green: #1AC94B;
$color-diry-green: #4D6C40;
$color-accent: #A9DDB7;