:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
    --color-brand-dark: #465929;
    --color-copyright: #a18268;
    --font-poppins: "Poppins", sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;