.advantages-section {
    background-color: var(--color-brand-normal);
    padding: 16px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        font-size: 20px;
    }

    &__item {
        font-size: 20px;
        font-weight: 300;
        color: var(--color-primary-light);
    }
}

@media screen and (max-width:480px) {
    .advantages-section {
        background-color: var(--color-brand-light);
        margin: 40px 20px;
        border-radius: 24px;

        &__list {
            flex-direction: column;
            gap: 16px;
        }

        &__item {
            color: var(--color-primary-dark);
        }
    }
}