.footer {
    background-image: url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--color-primary-dark);
    padding: 32px 0;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    &::before {
        background-image: url(/images/decor-bread-small.png);
        left: 0;
        width: 180px;
        height: 120px;
        background-repeat: no-repeat;
    }

    &::after {
        background-image: url(/images/decor-bread-large.png);
        right: 0;
        width: 380px;
        height: 180px;
    }

    &__container {
        display: flex;
        gap: 20px;
    }

    &__nav,
    &__address {
        display: flex;
        flex-basis: 50%;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__logo {
        display: inline-block;
    }

    &__list,
    &__logo {
        flex-grow: 1;
    }

    &__socials {
        display: flex;
        gap: 22px;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__address {
        &-link {
            color: var(--color-primary-light);
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;

            &:hover {
                color: var(--color-brand-dark);
            }
        }

        &-copyright {
            color: var(--color-copyright);
            font-size: 14px;
        }

        &-icon {
            fill: var(--color-primary-light);
        }
    }
}