.header {
    position: absolute;
    top: 0;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
        padding-top: 32px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-grow: 1;
    }

    &__menu {
        display: none;

        @media screen and (min-width:$bp-desktop) {

            display: flex;
            gap: 64px;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__burger {
        max-width: 24px;
        max-height: 24px;
        border: none;
        background-color: transparent;
        fill: var(--color-primary-light);
        padding: 0;
        cursor: pointer;

        &-img {
            max-width: 24px;
            max-height: 24px;
        }

        @media screen and (min-width:$bp-desktop) {
            display: none;
        }
    }

    &__btn {
        display: none;

        @media screen and (min-width:$bp-desktop) {
            display: block;
        }
    }

}