.input {
    position: relative;

    &__label {
        position: absolute;
        top: 16px;
        left: 42px;

    }

    &__control {
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--color-copyright);
        border-radius: 8px;
        background-color: transparent;
    }

    &::placeholder {
        font-size: 16px;
        color: var(--color-copyright);
    }

    &:focus {
        outline: none;
        border-color: var(--color-brand-normal);

        &::placeholder {
            color: var(--color-primary-dark);
        }
    }
}