.nutrition {
    &-section {
        padding: 160px 0 0 0;
        position: relative;
        overflow: hidden;
        background-color: $color-bg-main;


        &::after {
            content: '';
            display: block;
            width: 360px;
            height: 480px;
            background-image: url(/images/decor-salad.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 30px;
            right: -100px;
        }

        .btn+.btn {
            margin-left: 28px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-green;
        border-top-left-radius: 180px;
        padding: 90px 0 100px;
    }

    &__content {
        background-color: $color-bg-secondary;
        border-radius: 50px;
        padding: 60px;
        width: 100%;
        max-width: 1340px;
        margin: 0 auto;
        position: relative;
    }

    &__subtitle {
        color: $color-accent;
        font-size: 34px;
        margin-bottom: 30px;

        &::after {
            display: none;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 60px;
        line-height: 115%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        &-title {
            font-size: 24px;
            color: $color-secondary;
            font-weight: 500;
            margin-bottom: 22px;
        }
    }

    &__img {
        max-height: 414px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        font-size: 20px;
        font-weight: 500;
        line-height: 280%;
        color: $color-green;
        position: relative;

        &-img {
            max-width: 70px;
            max-height: 70px;
            fill: $color-green;
        }
    }

    &__img {
        border-radius: 40px;
    }

    &__meals {
        display: flex;
        align-items: center;
        gap: 25px;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: $color-primary;
            list-style-type: disc;
            margin-left: 25px;
            margin-bottom: 40px;
        }

        .btn-secondary {
            padding: 24px 53px;
        }

        .btn-primary {
            padding: 24px 70px;
        }
    }
}