.traditions-section {
    padding-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__content {
        max-width: 710px;
    }

    &__title {
        margin-bottom: 42px;
    }

    &__text {
        font-size: 18px;

        &--limited {
            max-width: 335px;
        }
    }

    &__img {
        border-top-right-radius: 400px;
        border-top-left-radius: 400px;
    }

}